* {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    background: url(./6cd2e55aaa7b91156ffd2a03873eda35.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin-top: 25%;
}

.btn {
    width: 80em;
    height: 80em;
    border: 5px solid green;
    border-radius: 25%;
    margin: 0.7em;
    position: relative;
}

.keyboard {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    width: 65%;
    padding: 2em;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;

}

.keyboard button {
    width: 6em;
    height: 6em;
    margin: 1em;
    font-size: large;
    border: double 3px lightgreen;
    border-radius: 45%;
    
}

.opcionales img {
    border-radius: 50%;
    height: 160px;
    display: grid;
    justify-content: space-between;
    width: 160px;


}

.opcionales2 button {
    justify-content: space-between;
    background: none;
    margin: 4em;
    border: none;
}

.opcionales button {
    justify-content: space-between;
    background: none;
    margin: 4em;
    border: none;
}

.opcionales2 img {
    border-radius: 50%;
    height: 160px;
    justify-content: space-between;
    width: 160px;

}

.opcionales {
    background: none;
    position: absolute;
    left: 1%;
    top: 20%;
    display: grid;
    grid-template-columns: 20%;
    padding: 3em;
    justify-content: space-between;
    margin-top: 3em;
    float: left;
}

.opcionales2 {

    background: none;
    position: absolute;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 20%;
    padding: 3em;
    justify-content: space-between;
    top: 20%;
    left: 60%;
    margin-top: 3em;
}
.boton img{
    width: 300px;
    height: 300px;
}
.boton {
    position: absolute;
    top: 5%;
    left: 8%;
    border: none;
    background: none;
}

.bobhabla {
    position: absolute;
    top: 5%;
    left: 35%;
    padding: 1em;
    text-align: center;
    border: 3px double green;
    border-radius: 45%;
    font-size: 30px;
}

.borrar {
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 50%;
    border: double 5px rebeccapurple;
    display: grid;
    margin-top: 9px;
    width: 200px;
    height: 200px;
}
@media (min-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        height: min-content;
        ;
    }
    
    body {
        width: 100%;
        height: 100%;
    
    }
    
    .btn {
        width: 60em;
        height: 60em;
        border: 5px solid green;
        border-radius: 25%;
        margin: 0.7em;
        position: relative;
    }
    
    .keyboard {
        grid-template-columns: 15% 15% 15% 15% 15%;
        padding: 1em;
        justify-content: space-between;
        margin: 2em;
        margin-left: 10%;
    }
    
    placeholder {}
    
    .bobhabla {
        border-radius: 30%;
        border: dotted 4px purple;
        font-size: xx-large;
        text-align: center;
    }
    
    .borrar {
        border-radius: 50%;
        padding: 1em;
        border: dotted 4px purple;
        font-size: xx-large;
        background-color: red;
        color: blueviolet;
        position: absolute;
        top: 30vh;
        right: 5vw;
    }
    
    .opcionales {
        grid-template-columns: repeat(45%);
        padding: 1em;
        margin: 2em;
        border-radius: 50%;
    }
    
    .opcionales button {
    
        border-radius: 50%;
    }
    
    .opcionales img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    
    }
    .opcionales2 img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        
    
    }
    
    .keyboard {
        margin-top: -15px;
    }
    
    .keyboard button {
        width: 60px;
        height: 60px;
        border: 5px solid pink;
        border-radius: 25%;
        margin: 0.7em;
        background: lightsalmon;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    
    .borrar {
        float: inline-end;
    }
    
    .boton img {
        display: flex;
        position: absolute;
        top: 8%;
        left: 5%;
        width: 30vw;
        height: 37vh;
    }
    
    aside {
        display: flex;
        float: left;
    
    
    }
    
    .asidetow {
        display: flex;
        float: right;
    
    }
    
    .opcion {
        position: absolute;
        top: 20vh;
        left: 2vw;
        border: dotted darkorchid 8px;
        margin-left: 10px;
    
    }
    
    .opcion0 {
        position: absolute;
        top: 35vh;
        left: 8vw;
        border: dotted darkorchid 8px;
        margin-left: 10px;
    
    }
    
    .opcion1 {
        border: dotted darkorchid 8px;
        position: absolute;
        top: 50vh;
        left: 15vw;
        margin-left: 10px;
    }
    
    .opcion2 {
        border: dotted darkorchid 8px;
        position: absolute;
        top: 20vh;
        right: 2vw;
        margin-right: 10px;
    }
    
    .opcion3 {
        position: absolute;
        top: 35vh;
        border: dotted darkorchid 8px;
        right:-4vw;
        margin-right: 10px;
    }
    
    .opcion4 {
        border: dotted darkorchid 8px;
        position: absolute;
        top: 55vh;
        right: -8vw;
        margin-right: 10px;
    }
    }
  