* {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    background: url(./6cd2e55aaa7b91156ffd2a03873eda35.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin-top: 25%;
}

.btn {
    width: 80em;
    height: 80em;
    border: 5px solid green;
    border-radius: 25%;
    margin: 0.7em;
    position: relative;
}

.keyboard {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    width: 65%;
    padding: 2em;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;

}

.keyboard button {
    width: 6em;
    height: 6em;
    margin: 1em;
    font-size: large;
    border: double 3px lightgreen;
    border-radius: 45%;
    
}

.opcionales img {
    border-radius: 50%;
    height: 160px;
    display: grid;
    justify-content: space-between;
    width: 160px;


}

.opcionales2 button {
    justify-content: space-between;
    background: none;
    margin: 4em;
    border: none;
}

.opcionales button {
    justify-content: space-between;
    background: none;
    margin: 4em;
    border: none;
}

.opcionales2 img {
    border-radius: 50%;
    height: 160px;
    justify-content: space-between;
    width: 160px;

}

.opcionales {
    background: none;
    position: absolute;
    left: 1%;
    top: 20%;
    display: grid;
    grid-template-columns: 20%;
    padding: 3em;
    justify-content: space-between;
    margin-top: 3em;
    float: left;
}

.opcionales2 {

    background: none;
    position: absolute;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 20%;
    padding: 3em;
    justify-content: space-between;
    top: 20%;
    left: 60%;
    margin-top: 3em;
}
.boton img{
    width: 300px;
    height: 300px;
}
.boton {
    position: absolute;
    top: 5%;
    left: 8%;
    border: none;
    background: none;
}

.bobhabla {
    position: absolute;
    top: 5%;
    left: 35%;
    padding: 1em;
    text-align: center;
    border: 3px double green;
    border-radius: 45%;
    font-size: 30px;
}

.borrar {
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 50%;
    border: double 5px rebeccapurple;
    display: grid;
    margin-top: 9px;
    width: 200px;
    height: 200px;
}