*{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
body{
    margin-top: 25%;
}
.btn {
    width: 60em;
    height: 60em;
    border: 5px solid green;
    border-radius: 25%;
    margin: 0.7em;
    position: relative;
}

.keyboard {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% ;
    width: 80%;
    padding: 2em;
    justify-content: space-between;
    position: relative;
    margin-top: 80px;
   
    
}
.keyboard button{
    width: 6em;
    height: 6em;
    margin: 1em;
}
.opcionales img {
    border-radius: 50%;
    height: 80px;
    display: grid;
    justify-content: space-between;
    width: 80px;


}
.opcionales2 button{
    justify-content: space-between;
    background: none;
    margin: 0.9em;
    border: none;
}
.opcionales button{
    justify-content: space-between;
    background: none;
    margin: 0.9em;
    border: none;
}
.opcionales2 img {
    border-radius: 50%;
    height: 80px;
    justify-content: space-between;
    width: 80px;

}
.opcionales{
    background: none;
    position: absolute;
    left: 8%;
    top: 10%;
    display: grid;
grid-template-columns: 20% ;
    padding: 1em;
    justify-content: space-between;
    margin-top: 1em;
    float: left;
   }
   .opcionales2{
       
    background: none;
       position: absolute;
    margin-left: 10%;
    display: grid;
grid-template-columns: 20%  ;
    padding: 1em;
    justify-content: space-between;
    top: 10%;
    right: 5%;
    margin-top: 1em;
   }
.boton{
    position: absolute ;
    top: 3%;
    border: none;
    background: none;
}
.bobhabla{
    position: absolute;
    top: 5%;
    left: 44%;
    text-align: center;
    border: 3px double green;
    border-radius: 45%;
    padding: 3em;
}
.borrar{
    padding: 2em;
    border-radius: 50%;
    border: double 5px rebeccapurple;
}
   